@page "/"
@inject MediatR.IMediator _mediator

<PageTitle>Index</PageTitle>

<h1>Mainland Block Party 2022</h1>

<br />

<h3>Add a Guest</h3>

<EditForm Model="personModel" OnSubmit="@AddGuest">
    <InputText placeholder="First Name" @bind-Value="personModel.FirstName"></InputText>

    <InputText placeholder="Last Name" @bind-Value="personModel.LastName"></InputText>

    <button class="btn btn-primary" type="submit">Add Guest</button>
</EditForm>

<br />

<h3>Guest List</h3>

Below is a list of invited guests;

<ul>
    @foreach (var p in people)
            {
                <li>@p.FirstName @p.LastName</li>
            }
</ul>

@code {
    List<PersonModel> people;
    PersonModel personModel = new PersonModel();

    protected override async Task OnInitializedAsync()
    {
        people = await _mediator.Send(new GetPersonListQuery());
    }

    private async void AddGuest()
    {
        await _mediator.Send(new InsertPersonCommand(personModel.FirstName, personModel.LastName));
    }
}

